.das-stuck
    h2
        font-size: 100px
        margin-top: 80px
        margin-bottom: 60px

    hr
        margin-bottom: 60px
        width: 80%

    .text-wrapper
        width: 80%
        margin: 0 auto
        padding-top: 20px
        padding-bottom: 20px
        border: 1px solid $color_c
        border-right: none
        border-left: none
        position: relative
        
        p
            &:first-child
                margin-top: 0
            
            &:last-child
                margin-bottom: 0

        .bg-img
            position: absolute
            width: auto
            height: 80%
            bottom: 0
            left: 50%
            transform: translateX(-50%)
            opacity: 0.2


    p
        width: 100%
        transform: scaleX(1)
        letter-spacing: 0.1rem
        font-size: 40px
    
        &.last
            margin-bottom: 20px

    @media screen and (max-width: 600px)
        h2
            font-size: 70px
            letter-spacing: 0
        
        p
            font-size: 25px